/* custom-properties ***** */
:root {
  --basic-color: #fdc921;
  --basic-color-darker: hsl(46, 98%, 46%);
  --contrast-color: hsl(196, 78%, 44%);
  --contrast-color-light: hsl(196, 78%, 84%);
  --contrast-color-middle: hsl(196, 78%, 54%);
  --main-bg-color: #fae588;
  --bg-color: white;
  --text-color: #000000;
  --accent-color: hsl(0, 98%, 30%);
}
/* Global Selectors ****************************************************/
* {
  box-sizing: border-box;
}
html {
  font-family: "SourceSansPro", sans-serif;
}
.size-main {
  min-height: 100vh;
}
/****Font-Styling********************************************************************** */
@font-face {
  font-family: "Orbitron";
  src: url("@/assets/fonts/Orbitron/static/Orbitron-ExtraBold.ttf");
}
@font-face {
  font-family: "SourceSansPro";
  src: url("@/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-weight: 400;
}

h1 {
  font-family: "Orbitron", sans-serif;
}
h3 {
  font-size: 0.9em;
  color: var(--constrast-color);
  margin: 0;
}
/* Class Selectors ********************************************************/

.button-style {
  background-color: var(--contrast-color-middle);
  color: var(--bg-color);
  padding: 0.4em 0.9em 0.4em 0.9em;
  border-radius: 0.6em;
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  box-shadow: inset 0px 0px 0px 1px var(--contrast-color-middle),
    inset 0px 0px 0px 2px var(--contrast-color-light);
  text-align: center;
}

.button-style:hover {
  background-color: var(--basic-color);
  box-shadow: 2px 2px 0px var(--contrast-color);
}
.button-link {
  text-decoration: none;
  color: inherit;
}

.footer {
  position: sticky;
  bottom: 0;
}
.frame {
  border-radius: 5px;
  box-shadow: 2px 2px 3px var(--contrast-color);
  border: 1px solid var(--contrast-color);
}
#app {
  background-color: var(--contrast-color-light);
  margin: 0 auto;
  /*width: 375px;
  height: 667px;*/
  max-width: 60ch;
  min-height: 100vh;
}
